.quote-holder blockquote, .quote-holder figcaption {
  font-style: italic;
  color: whitesmoke;
  text-shadow: 1px 2px 4px #505050;
  font-family: 'Artifika', serif;
  font-weight: 900; }

.blue-backdrop2, .first-break, .full-page, .white-section, .black-section, .auto-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.blue-backdrop2, .first-break {
  width: 100%;
  height: auto; }

.blue-backdrop2, .first-break, .landing .middle .pic, .mask-off {
  background-size: cover;
  background-repeat: no-repeat; }

.blue-backdrop2, .first-break {
  background-attachment: fixed;
  background-position: 50% 0px; }

.white-section, .black-section, .screen {
  border-bottom: solid black 1px;
  border-top: solid black 1px; }

body, p {
  margin: 0px;
  font-family: 'Open Sans Condensed', sans-serif; }

h1, h2, h3, .wordpress h4, h4, h5 {
  margin: 0;
  font-family: 'Artifika', serif;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 42pt;
  font-weight: 500;
  text-shadow: 2px 2px 2px darkslategrey; }

h2 {
  text-align: center;
  margin: 2% 1%;
  font-size: 34pt; }

h3, .wordpress h4 {
  font-size: 26pt; }

hr {
  width: 80%;
  color: darkslategrey; }

a {
  color: #b8420f;
  transition: color 0.5s; }
  a:visited {
    color: #0f85b8; }
  a:hover {
    color: #c0b08c; }

.quote-holder {
  width: 50%;
  margin: auto; }
  .quote-holder blockquote {
    margin: 5%;
    width: 100%;
    font-size: 26pt; }
  .quote-holder figcaption {
    font-size: 16pt; }

.img-wrapper {
  margin: 2%;
  display: inline-block;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  border: solid black 1px;
  box-shadow: 1px 2px 5px 2px #191f1f;
  min-height: 150px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.small {
  width: 20vw;
  height: 15vh;
  flex-grow: 1;
  min-width: 100px; }

.medium {
  width: 70vw;
  max-width: 80%;
  height: 30vh;
  max-height: 300px;
  flex-grow: 1; }

.large {
  width: 40vw;
  height: 40vh; }

.block {
  display: block;
  height: 30vh;
  width: 96%;
  margin: auto;
  background-position: center center;
  flex-grow: 1; }

.social {
  height: 28px;
  width: 28px;
  line-height: 28px;
  transition: opacity 0.5s;
  border-radius: 50%;
  opacity: 0.6;
  background-color: black; }
  .social:hover {
    opacity: 1; }

.make-block {
  display: block;
  width: 100%;
  text-align: center; }

.full-page, .white-section, .black-section {
  overflow: hidden;
  height: 100vh;
  width: 100%; }

.auto-page {
  overflow: hidden;
  width: 100%;
  color: white; }

.white-section {
  background-color: white;
  color: black; }

.black-section {
  background-color: black;
  color: white; }

.blue-backdrop2 {
  background-image: url("../images/backdrops/prayerflags-tall.jpg"); }

.landing {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-rendering: optimizeLegibility; }
  .landing .middle {
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    max-width: 800px;
    flex-grow: 4;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(../images/other/curly-open.png); }
    .landing .middle .intro-text {
      flex-grow: 1;
      font-size: 16pt;
      text-align: justify; }
      .landing .middle .intro-text .intro-text-content {
        width: 70%;
        margin: 5% auto;
        padding: 10px;
        box-shadow: 3px 5px 3px 3px silver; }
    .landing .middle .project-links {
      width: 80%;
      text-align: center; }
      .landing .middle .project-links a {
        margin: 1% 5%;
        white-space: nowrap; }
    .landing .middle .pic {
      background-image: url("../images/other/portrait.jpg");
      background-position: 90%;
      border-radius: 50%;
      border: solid #b8420f 2px;
      min-width: 180px;
      height: 180px;
      margin: 3%; }
  .landing .front-heading {
    white-space: nowrap;
    flex: 1;
    justify-self: flex-end; }
    .landing .front-heading h1 {
      border-bottom-color: #3f4f73;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      padding-left: 5%;
      font-size: 5vw; }
    .landing .front-heading span {
      padding-left: 15%;
      font-size: 16pt; }
  .landing .tagline {
    height: 50px;
    width: 100%;
    line-height: 30px;
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0 3%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    background-color: #3f4f73;
    white-space: nowrap; }
    .landing .tagline span {
      display: flex;
      margin: 0 8%; }
      .landing .tagline span a {
        display: flex;
        align-items: center; }
    .landing .tagline nav {
      margin: 0 3%;
      font-size: 11pt;
      display: flex;
      flex-wrap: wrap;
      line-height: 12pt;
      justify-content: space-around;
      font-family: 'Artifika', serif;
      overflow: hidden;
      align-items: center; }
      .landing .tagline nav span {
        color: #3f4f73; }
      .landing .tagline nav a {
        margin: 0 6%; }
    .landing .tagline a {
      color: #c0b08c;
      text-decoration: none;
      margin: 0% 2%;
      transition: color 0.5s; }
      .landing .tagline a:hover {
        color: white; }

.first-break {
  height: 70vh;
  width: 100%;
  display: flex;
  align-content: center;
  background-image: url(../images/backdrops/leaves-tall.jpg); }

.icon {
  height: 100px;
  margin: 15px; }

.icons {
  display: flex;
  flex-wrap: wrap; }
  .icons div {
    border: solid silver 1px;
    background-color: #fffcfa;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 2%;
    padding: 2% 1%;
    justify-content: center; }
    .icons div h3, .icons div .wordpress h4, .wordpress .icons div h4 {
      width: 100%;
      text-align: center;
      text-decoration: underline italic; }

.img-wrapper {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  background-color: black;
  background-blend-mode: normal; }
  .img-wrapper:hover {
    background-blend-mode: luminosity; }
    .img-wrapper:hover a {
      padding: 50% 0;
      background-color: rgba(220, 220, 220, 0.4);
      color: #ef733e; }
  .img-wrapper a {
    background-color: rgba(50, 50, 50, 0.6);
    text-align: center;
    width: 100%;
    color: white;
    font-weight: 800;
    font-size: 16pt;
    text-decoration: none;
    transition: all 0.5s;
    text-shadow: 1px 1px 1px black; }

.projects {
  border-top: solid #3f4f73 4px;
  width: 100%;
  overflow: hidden;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap; }
  .projects .project-desc.automagic-project {
    flex-grow: 2;
    width: 100%; }
  .projects h2, .projects h3, .projects .wordpress h4, .wordpress .projects h4 {
    width: 100%;
    text-align: center; }
  .projects .project-icon {
    width: 300px;
    border: solid black 3px;
    border-radius: 8px; }
  .projects .project-text {
    font-weight: 600; }
  .projects blockquote {
    font-style: italic; }
  .projects cite {
    font-style: normal; }
  .projects .project-desc {
    background-color: #fffcfa;
    width: 40%;
    min-width: 300px;
    max-width: 900px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin: 2%;
    box-shadow: 1px 2px 3px 4px silver;
    font-size: 16pt; }
    .projects .project-desc h3, .projects .project-desc .wordpress h4, .wordpress .projects .project-desc h4 {
      margin: 3% auto; }

.wordpress {
  flex-wrap: wrap; }
  .wordpress .headings {
    width: 40%;
    flex-grow: 1;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: space-around; }
    .wordpress .headings * {
      width: 100%; }
  .wordpress h3, .wordpress h4 {
    text-shadow: none;
    font-size: 34pt;
    z-index: 5;
    border-bottom: solid #b8420f 1px;
    text-align: center; }
  .wordpress h4 {
    font-size: 20pt; }
  .wordpress .holder {
    color: black;
    display: flex;
    align-items: center;
    font-size: 16pt; }
  .wordpress a {
    margin: 15px;
    flex-grow: 1;
    width: 40%;
    opacity: 0.7; }
    .wordpress a:hover {
      overflow: hidden;
      margin: 11px;
      border: solid #3f4f73 4px;
      opacity: 1; }
  .wordpress .img-wrapper {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    margin: 0; }

.wp1 {
  background-image: url("../images/project-icons/restauranttheme.jpg");
  background-position: center center; }

.wp2 {
  background-image: url("../images/project-icons/momblogtheme.jpg"); }

.other-projects {
  display: flex;
  flex-wrap: wrap; }
  .other-projects h3, .other-projects .wordpress h4, .wordpress .other-projects h4 {
    font-size: 16pt; }

.final-desc {
  font-size: 16pt;
  color: black;
  border: double black 8px;
  background-color: #fffcfa;
  flex-grow: 1;
  padding: 2%; }
  .final-desc p {
    padding: 10px 5%; }

.automagic {
  background-image: url(../images/project-icons/automagic.jpg); }

.opinionated {
  background-image: url(../images/project-icons/opinionated.jpg); }

.museummap {
  background-image: url(../images/project-icons/map.jpg); }

.rlimg {
  background-image: url(../images/project-icons/rl.jpg); }

.hydrangeas {
  background-image: url("../images/project-icons/hydrangeas.jpg"); }

.mercy {
  background-image: url("../images/project-icons/mercy.jpg"); }

.calc {
  background-image: url("../images/project-icons/calc.jpg"); }

.teabag {
  background-image: url("../images/project-icons/teabag.jpg"); }

.tictactoe {
  background-image: url("../images/project-icons/tictactoe.jpg"); }

.timer {
  background-image: url("../images/project-icons/time.jpg"); }

.weather {
  background-image: url("../images/project-icons/weathersmall.jpg"); }

.wiki {
  background-image: url("../images/project-icons/wiki.jpg"); }

.about {
  align-items: flex-end;
  font-size: 16pt; }

.mask-off {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-image: url("../images/other/get_in_touch.jpg");
  background-position: 60%;
  margin: 3% auto; }

.screen {
  width: 100%;
  background-color: white;
  padding: 5px;
  color: black; }
  .screen p {
    padding: 1%;
    text-align: justify; }
  .screen p.center {
    text-align: center; }
    .screen p.center em {
      font-size: 20pt;
      text-rendering: optimizeLegibility; }

.contact-section {
  font-size: 16pt;
  margin-top: 5%; }
  .contact-section p {
    padding: 0 2%;
    background-color: rgba(20, 20, 20, 0.4);
    margin: 2%;
    text-align: center;
    display: flex;
    align-items: center; }
  .contact-section .block p {
    display: inherit;
    width: 25%;
    margin: auto; }

.contact {
  background-color: rgba(20, 20, 20, 0.4);
  width: 90%;
  margin-bottom: 5%; }
  .contact .submitButton {
    position: relative;
    right: 5%;
    width: 20%;
    max-width: 200px;
    margin-top: 2.5%;
    height: 100px;
    float: right;
    border-radius: 7px;
    border: solid white 2px;
    background-color: #b8420f;
    color: white;
    font-size: 4vw;
    font-family: Artifika, serif; }
    .contact .submitButton:hover {
      background-color: #ef733e; }
  .contact label {
    display: block;
    flex-grow: 1;
    padding: 2%; }
    .contact label textarea {
      margin-top: 2%;
      width: 98%;
      height: 300px; }
    .contact label input {
      width: 60%; }

.flags {
  display: flex;
  align-items: center;
  height: 100vh; }

.footer {
  overflow: hidden;
  background-color: #312b1b;
  display: flex;
  flex-wrap: wrap;
  color: white;
  position: relative;
  border-top-color: black;
  border-top-width: 1px;
  border-top-style: solid; }
  .footer .footer-element {
    flex-grow: 1;
    border-right: dashed silver 1px;
    padding: 1%;
    margin: 1%;
    width: 28%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .footer .footer-element:last-of-type {
      border: none; }
  .footer .footer-navigation {
    max-width: 30%; }
  .footer .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    flex-grow: 1; }
    .footer .footer-wrapper .footer-element {
      min-width: 200px; }
  .footer .closing {
    background-image: url(../images/other/curly-open.png);
    transform: scaleX(-1);
    background-size: contain;
    background-repeat: no-repeat; }
    .footer .closing div {
      transform: scaleX(-1); }
      .footer .closing div a {
        width: 100%;
        display: block; }

@media only screen and (min-width: 750px) {
  .blue-backdrop2 {
    background-image: url("../images/backdrops/flags-medium.jpg"); } }
@media only screen and (max-width: 600px) {
  .closing {
    padding: 2%; }
    .closing h3, .closing .wordpress h4, .wordpress .closing h4 {
      font-size: 16pt; }

  .footer-social-links.footer-element {
    border: none;
    border-bottom: dashed silver 1px; }

  .quote-holder {
    width: 80%; }
    .quote-holder blockquote {
      font-size: 16pt; }

  .landing .middle {
    padding: 0;
    background: white; }
  .landing .front-heading {
    margin-left: 5%;
    width: 90%; }
    .landing .front-heading h1 {
      font-size: 34pt; }
  .landing .tagline {
    height: 50px; }
    .landing .tagline span .social {
      height: 28px;
      width: 28px; } }
@media only screen and (max-width: 350px) {
  .contact .submitButton {
    float: none;
    width: 90%;
    right: 0;
    margin: 2% auto;
    height: 40px;
    display: block; }

  .wordpress a {
    overflow: hidden;
    height: 100px; }

  .img-wrapper {
    width: 90%; }

  .landing .front-heading {
    margin-left: 0;
    flex-grow: 1; }
    .landing .front-heading h1 {
      font-size: 34pt; }
    .landing .front-heading span {
      font-size: 11pt; }
  .landing .intro-under {
    display: none; }
  .landing .middle .intro-text {
    width: 100%;
    font-size: 16pt; }
  .landing .tagline span .social {
    height: 30px;
    width: 30px; }
  .landing nav {
    font-size: 11pt;
    flex-wrap: wrap; }
    .landing nav * {
      line-height: 9pt;
      flex-grow: 1; } }

/*# sourceMappingURL=main.css.map */
